/*CSS code for this component*/

nav {
  background-color: #166aa2; 
  padding: 0 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.navbar-brand {
  color: #a61818; 
  font-weight: bold;
}


.navbar-toggler {
  background-color: #194969; 
  border: none;
}


.navbar-nav {
  margin-left: auto;
}

.nav-link {
  color: #c07272; 
  font-weight: bold;
  padding: 0.5rem 1rem;
}


.nav-link.active {
  background-color: #328f8a;
  color: #fff;
}

.nav-link:hover {
  background-color: #744444;
}
